<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<link rel="stylesheet" href="/style/gallery.css">
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Fotogalerii</h1>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Falerii</h2>
	<div class="gallery">
	
	
		<!--Järgneb korduv osa, iga pisipildi jaoks oma-->
		<div class="thumbgallery">
			<img src="gallery/thumbs/vp_1700145755260.jpg" alt="Karu lilledega" data-filename="vp_1700145755260.jpg" data-id="1" class="thumbs">
			<p></p> 
		</div>
	
	
	</div>
</body>
</html>