<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Lisa filmitegelase ja filmi seos</h2>
	<form method="POST">
		<label for="personInput">Filmitegelane</label>
		<select id="personInput" name="personInput">
			<option value="0" selected disabled>Vali tegelane</option>
			<option value="1">Kuulus Meesnäitleja</option>
			<option value="2">Kuulus Naisnäitleja</option>
		</select>
		<label for="filInput">Film</label>
		<select id="filmInput" name="filmInput">
			<option value="0" selected disabled>Vali film</option>
			<option value="1">Kultusfilm</option>
			<option value="2">Parim film</option>
		</select>
		
		
		
		<br>
		<input type="submit" name="personSubmit" value="Salvesta">
	</form>
	<p><%= locals.notice || 'Ootel!' %></p>
</body>
</html>