<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="../../media/pics/banner/vp_banner_2023.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Andrus Rinde</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatia eriala õppetöö raames.</p>
	<p>Olen tore ja tark ja parimais aastais meesterahvas!</p>
	<hr>
</body>
</html>