<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news/add">Uudise lisamine</a></li>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>