<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm/filmiloend">Eesti filmide loend</a></li>
		<li><a href="/eestifilm/addfilmperson">Eesti filmitegelase lisamine</a></li>
		<li><a href="/eestifilm/addfilmrelation">Eesti filmitegelase ja filmi seose lisamine</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>