<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Andrus Rinde</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatia eriala õppetöö raames.</p>
	<p>Olen tore ja tark ja parimais aastais meesterahvas!</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
		<li><a href="/news">Uudised</a></li>
		<li><a href="/photoupload">Fotode galeriisse laadimine</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
	</ul>
	<hr>
</body>
</html>